.brandImage {
	display: flex;
	align-items: center;
	height: 100px;
	color: white;
	h1 {
		font-family: $title-text;
	}
	* {
		margin: 10px;
	}
	.brandImage__links {
		@include center-row;
		font-family: $tab-text;
		* {
			color: inherit;
			text-decoration: none;
			font-size: 12px;
		}
	}
}
