.contact {
	margin: 150px auto 55px auto;
	padding: 20px;
	width: 70%;
	height: 70vh;
	border: 1px dashed gray;
	display: flex;
	flex-direction: column;
	align-items: center;
	h1 {
		color: rgba(95, 95, 95, 0.493);
	}
	form {
		flex: 1;
		width: 100%;
		height: 50%;
		display: grid;
		grid-gap: 10px;
		padding: 10px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 5fr;
		grid-template-areas:
			'firstName lastName'
			'email phone'
			'message message'
			'button button';
	}
	form .firstName {
		grid-area: firstName;
	}
	form .lastName {
		grid-area: lastName;
	}
	form .email {
		grid-area: email;
	}
	form .phone {
		grid-area: phone;
	}
	form .message {
		grid-area: message;
	}
	form input {
		@include inputStyle;
		background-color: transparent;
		border-bottom: 1px solid rgba(92, 92, 92, 0.418);
	}

	form textarea {
		@include inputStyle;
		background-color: rgba(255, 255, 255, 0.63);
		padding-top: 10px;
	}
	form button {
		font-family: $tab-text;
		grid-area: button;
		height: 35px;
		width: 30%;
		margin: 0 auto;
		background-color: transparent;
		border: 1px solid rgba(92, 92, 92, 0.418);
		transition: all 200ms ease-in-out;
		&:hover {
			background-color: rgba(255, 255, 255, 0.363);
		}
		&:focus {
			outline: none;
		}
	}
}

@media only screen and (max-width: 700px) {
	.contact {
		width: 95%;
		height: 80vh;
	}
}
