.header {
	height: 600px;
	background-image: url('../images/home_header.jpg');
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */

	.header__title {
		@include center-row;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.534);
		h1 {
			color: white;
			font-style: italic;
		}
	}
}
