.header {
	height: 600px;
	background-image: url('../images/home_header.jpg');
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	.header__title {
		@include center-row;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.534);
		h1 {
			color: white;
			font-style: italic;
		}
	}
}

.footer {
	width: 90%;
	margin: 0 auto;
	border-radius: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.footer__container {
	border-radius: 5px;
	margin: 10px;
	background-color: rgba(0, 0, 0, 0.548);
	ul {
		height: 100%;
		list-style-type: none;
		padding: 0 10px;
		color: pink;
		@include spread-row;
	}
	.footer__icon,
	.footer__button {
		color: pink;
	}
}
