.instructions__ing {
	padding: 10px 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	h1 {
		text-align: center;
		font-family: $header-text;
	}
	.instructions__ingContainer {
		h3 {
			font-family: $header-text;
		}
		div li {
			list-style-type: circle;
			font-family: $tab-text;
		}
	}
}

.instructions__steps {
	margin: 10px 0;
	h1 {
		font-family: $header-text;
		text-align: center;
	}
	h3 {
		font-family: $header-text;
	}
	.step {
		display: grid;
		width: 90%;
		grid-template-columns: 20% 80%;
		font-family: $tab-text;
		border: 1px solid gray;
		box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		margin: 20px auto;
		transition: all 200ms ease-in-out;
		&:hover {
			background-color: rgba(69, 70, 69, 0.479);
			color: white;
			transform: translateY(-7px);
		}
		.step__number {
			@include center-column;
			border-right: 1px solid gray;
		}
		.step__intruc {
			padding: 5px 10px;
			display: flex;
			align-items: center;
		}
	}
}

// .instruction__links {
// 	@include center-row;
// 	border-top: 1px solid black;
// 	padding: 20px;
// 	* {
// 		margin: 0 20px !important;
// 	}
// }
