* {
	box-sizing: border-box;
	margin: 0;
}
@import './global_variables.scss';
@import './mixin.scss';

.app {
	background-color: $second-color;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	overflow-y: scroll;
}
.app::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

@import './home.scss';
@import './brandImage.scss';
@import './recipes.scss';
@import './instructions.scss';
