* {
	box-sizing: border-box;
	margin: 0;
}
$main-color: #77bfa3;
$second-color: #bfd8bd;

@mixin center-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.app {
	background-color: $second-color;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
.app::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

@import './brandImage.scss';
