* {
	box-sizing: border-box;
	margin: 0;
}
@import './global_variables.scss';
@import './mixin.scss';
@import './keyframes.scss';

.app {
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	overflow-y: scroll;
	background: linear-gradient(rgb(192, 255, 192), rgba(255, 255, 255, 0.753));
}
.app::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}
.fade-enter {
	opacity: 0;
}
.fade-active {
	opacity: 1;
}

@import './home.scss';
@import './brandImage.scss';
@import './recipes.scss';
@import './instructions.scss';
@import './loading.scss';
