.recipeList {
	display: flex;
	flex-direction: column;
	.recipeList__list {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: scroll;
		&::-webkit-scrollbar {
			display: none; /* Safari and Chrome */
		}
	}
}

.recipeCard {
	min-height: 600px;
	width: 350px;
	border: 1px solid $main-color;
	border-radius: 8px;
	margin: 20px 30px;
	flex-shrink: 0;
	overflow: hidden;
	img {
		object-fit: contain;
		width: 100%;
		border-radius: 8px;
		transition: all 200ms ease-in-out;
		&:hover {
			transform: scale(1.05);
		}
	}
}
